$transition-primary: all 0.3s cubic-bezier(0.17, 0.67, 0.8, 0.62);
$transition-secondary: all 0.35s cubic-bezier(0.435, 0.975, 0.395, 0.645);
$transition-tertiary: all 0.65s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$transition-fourth: all 0.25s cubic-bezier(0.455, 0.565, 0.675, 1);
$transition-long: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
