$_box-base: 1.3rem;
$box-min: $_box-base * 0.25;
$box-quarter: $_box-base * 0.5;
$box-half: $_box-base * 0.75;
$box-base: $_box-base;
$box-onehalf: $_box-base * 1.5;
$box-double: $_box-base * 2;
$box-triple: $_box-base * 3;
$box-fourth: $_box-base * 4;
$box-fifthe: $_box-base * 5;
