// Background colors
$primary-bg: #f7f8f8;
$secondary-bg: #dfe1e2;
$tertiary-bg: #d0d0d6;
$quaternary-bg: #b9bbbb;
$button-bg: #623c80;
$button-bg-hover: #9232be;
// UI Element colors
$title-color: #623c80;
$subtitle-color: #9232be;
$text-color: #222222;
$white-color: #e9e9e9;
$info-color: #0657a8;
$success-color: #2e7d32;
$warning-color: #f57c00;
$error-color: #c62828;
