// Background colors
$primary-bg: #f7f8f8;
$secondary-bg: #c1c5cb;
$tertiary-bg: #d9e1ed;
$quaternary-bg: #aab0b0;

// UI Element colors
$title-color: #623c80;
$subtitle-color: #9232be;
$text-color: #222222;
