.notes-section {
 margin-top: $box-double;
 position: relative;
 width: 100%;

 &-content {
  position: relative;
  width: 100%;

  h2 {
   font-weight: 300;
   letter-spacing: 2px;
   text-shadow: $title-shadow;
  }

  .notes-container {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   min-height: 300px;
   position: relative;
   width: 100%;
  }
 }
}
