.dashboard {
 background-color: $quaternary-bg;
 left: 0;
 min-height: 100vh;
 position: absolute;
 padding: $box-onehalf;
 top: 0;
 width: 100vw;

 &-header {
  background-color: $secondary-bg;
  box-shadow: $primary-shadow;
  border-radius: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: $box-half;
  width: 100%;

  .dashboard-action {
   button {
    align-items: center;
    display: flex;
    font-size: toRem(0.85);
    padding: $box-quarter $box-onehalf;

    svg {
     margin-right: $box-min;
    }
   }
  }
 }

 &-banner {
  background-color: rgba($color: $primary-bg, $alpha: 0.9);
  backdrop-filter: blur(5px);
  box-shadow: $primary-shadow;
  border-radius: 50px 0px 25px 0px;
  margin: 0 auto;
  margin-top: $box-onehalf;
  position: relative;
  padding: $box-half;
  width: 100%;

  h2 {
   text-align: center;
   text-shadow: $title-shadow;
  }

  &::before {
   background-image: url('/images/utils/particles-pattern.png');
   box-shadow: inset 4px 4px 10px rgba($text-color, 0.4), inset -4px -4px 10px rgba($primary-bg, 0.702);
   border-radius: 50px 0px 25px 0px;
   content: '';
   height: 100%;
   left: 0;
   opacity: 0.7;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: -1;
  }
 }

 @media (max-width: 500px) {
  &-header {
   flex-wrap: wrap;
   justify-content: center;

   .dashboard-action {
    width: 100%;

    button {
     margin: 0 auto;
     margin-top: $box-quarter;
    }
   }
  }
 }
}
